@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inicio{
    color: white;
    font-size: 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.6px;
}

.inicio{
    position: absolute;
    top: 20px;
    left: 86px;
}

.cuerpo{
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      background: linear-gradient(180deg, #000018 0%, #001F3F 100%);
      justify-content: center;
      align-items: center;
}

label{
    color: #D1D5DB;
    font-family: Poppins;
    font-size: 12px;
    letter-spacing: 1.6px;
}

input{
    padding-left: 25px;
    background-color: #4b515c;
    width: 200px;
    height: 20px;
    border-color: transparent;
    border-radius: 10px;
}

.Usuario{
    position: absolute;
    top: 20px;
    left: 22px;
}

.Contraseña{
    position: absolute;
    top: 82px;
    left: 22px;
}

.boton{
    position: absolute;
    top: 210px;
    right: 35px;
    width: 110px;
    height: 22px;
}

.boton{
    font-family: Poppins;
    font-size: 14px;
    background-color: #2B609E;
    border-color: transparent;
    color: white;
    border-radius: 10px;
}

.boton:active{
    background-color: #054d9e;
    transform: translateY(2px);
}

.enlace{
    color: #D1D5DB;
    font-size: 11px;
    font-family: Poppins;
    position: absolute;
    top: 140px;
    left: 22px;
}

#man{
    position: absolute;
    right: 205px;
    bottom: 5px;
}

#candado{
    position: absolute;
    right: 205px;
    bottom: 5px;
}

form{
    display: absolute;
    flex-direction: column;
    border-radius: 20px;
    background-color: #111010;
    width: 300px;
    height: 265px;
    align-items: center;
    position: relative;
    top: 10px;
}